INSERT INTO User (name) VALUES ('{{ stocks_first_user }}');
INSERT INTO User_device (name, belongs_to) VALUES ('{{ stocks_first_device }}', LASTVAL());
INSERT INTO Ticket (ticket, belongs_device) VALUES ('{{ stocks_first_ticket }}', LASTVAL())
