## {{ ansible_managed }}

de.njsm.stocks.internal.db.databaseAddress={{ stocks_mysql_server_host }}
de.njsm.stocks.internal.db.databasePort={{ stocks_mysql_server_port }}
de.njsm.stocks.internal.db.databaseName={{ stocks_mysql_stocks_database }}
de.njsm.stocks.internal.db.databaseUsername={{ stocks_mysql_stocks_username }}
de.njsm.stocks.internal.db.databasePassword={{ stocks_mysql_stocks_password }}

de.njsm.stocks.internal.ticketValidityTimeInMinutes={{ stocks_ticket_timeout_minutes }}
